


@charset "utf-8";
/*
  common.css
*/

/* Basic Style
--------------------------------------------------------- */

.main #about {
width: 610px;
margin: 0 auto;
font-size:15px !important;
letter-spacing:1px !important;
font-family: 'Yu Gothic','MSP ゴシック' !important;
color: #000000 !important;
text-align: left;
padding: 22px 0;
line-height:25px;
}

.main {
width: 645px;
height: auto;
background: #FFFFFF !important;
line-height:25px;
}

html {
font-family: 'Yu Gothic','MSP ゴシック';
font-size:15px;
letter-spacing:1px;
}
body {
margin: 0;
font-family: 'Yu Gothic','MSP ゴシック';
font-size:15px;
color:;
line-height:25px;
letter-spacing:1px;
}

a:link {color:#000000; text-decoration: none;} 
a:visited {color:#000000; text-decoration: none;}
a:hover {color:#000000; text-decoration: underline;} 
a:active {color:#000000; text-decoration: none;} 

table {
 width: 100%;
}

td, th {
padding-top: 5px;
padding-bottom: 5px;
border-bottom: dotted 1px #777777;
border-collapse: separate;
}

.about_left
 {
padding-left: 0px;
font-weight:bold;
width: 25%;
position: relative;

}

.about_right
{
  width: 75%;
  position: relative;
}

/*====================================================================
ITEM SEARCH
====================================================================*/

.theme--0 .itemSearch__form {
	width:180px !important;
}

.theme--0 input[type=text].itemSearch__field {
	width:180px !important;
	
}

.theme--1 .menu li.itemSearch {
	width:180px !important;
}

.theme--2 .searchFormContainer {
	background-color:#333;
	display:none;
	padding:0;
	position:absolute;
	left:-80px;
	top:38px;
	width:180px !important;
	z-index:9999;
}

/*====================================================================
 BASE MENU
====================================================================*/
/**
 * name: #gb
 * source: shopTemplate/base_menu
 *************************************/
#baseMenu{
	box-sizing: border-box;
	right: 25px;
	position: fixed;
	top: 5px;
	z-index: 2002;
}
#baseMenu > ul > li{
	float: left;
	list-style: none;
}
#baseMenu > ul > li.base{
	margin: 0 10px 0 0;
}
#baseMenu > ul > li a{
	background-color: #FFF;
	border-radius: 0px !important;
	box-shadow:none !important;
	cursor: pointer;
	display: block;
	margin: 1px 0 0;
	padding: 5px 15px;
	text-decoration: none;
}
#baseMenu > ul > li a:hover{
	box-shadow: 0px!important;
	padding: 6px 15px 4px;
}
  margin-top:50px;
}

/*====================================================================
 BASE MENU NAVI
====================================================================*/

.tempTop #main_navigation {
		height: 23px;
		margin-bottom: 70px;
	font-family: Georgia,Times,Times New Roman,serif !important;
		font-size: 15px;
		font-weight:normal !important;
	width:100% !important;
	border-bottom: dotted 1px #777777;
}

.tempTop #main_navigation li {
		color: #000;
		margin: 0 30px;
		font-family: Georgia,Times,Times New Roman,serif !important;
		font-size: 15px;
		font-weight:normal !important;
		height: 22px;
		line-height: 22px;
		text-transform: capitalize;
		letter-spacing: 2px;
}

.tempTop #main_navigation li a {
	font-family: Georgia,Times,Times New Roman,serif !important;
		overflow: hidden;
		max-width: 400px;
		padding: 0 8px;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
	font-weight:normal !important;
}

.tempTop #main_navigation li #category-menu span {
		font-weight:normal !important;
}

.template #category-menu:hover .category-list {
		display: block;
		padding: 10px 0 0;
		position: absolute;
}

.tempTop #main_navigation li:hover {
		border-bottom: none !important;
	font-family: Georgia,Times,Times New Roman,serif !important;
	font-style: italic !important;
	font-weight:normal !impoetant;
}

/* .categoryTitle01
-------------------------------------------------------------- */
.tempTop .categoryTitle01 {
	margin: 30px 0 50px;
	font-size:20px;
	line-height: 1.1;
	text-align: center;
	border-bottom: dotted 1px #777777 !important;
}

/* .tempTop
-------------------------------------------------------------- */
.tempTop .container {
		width: 100%;
		padding-top: 75px;
	border-bottom: dotted 1px #777777 !important;
}

html {
font-family: 'Yu Gothic','MSP ゴシック';
font-size:15px;
letter-spacing:1px;
}
body {
margin: 0;
font-family: 'Yu Gothic','MSP ゴシック' !important;
font-size:15px;
color:;
line-height:25px;
letter-spacing:1px;
}

a:link {color:#000000; text-decoration: none;} 
a:visited {color:#000000; text-decoration: none;}
a:hover {color:#000000; text-decoration: underline;} 
a:active {color:#000000; text-decoration: none;} 

table {
 width: 100%;
}

td, th {
padding-top: 5px;
padding-bottom: 5px;
border-bottom: dotted 1px #777777;
border-collapse: separate;
}

.about_left
 {
padding-left: 0px;
font-weight:bold;
width: 25%;
position: relative;

}

.about_right
{
  width: 75%;
  position: relative;
}

