@charset "utf-8";
/*
  common.css
*/

/* Basic Style
--------------------------------------------------------- */

.main #about {
width: 610px;
margin: 0 auto;
font-size:15px !important;
letter-spacing:1px !important;
font-family: 'Yu Gothic','MSP ゴシック' !important;
color: #000000 !important;
text-align: left;
padding: 22px 0;
}

.main {
width: 645px;
height: auto;
background: #FFFFFF !important;
}

html {
font-family: 'Yu Gothic','MSP ゴシック';
font-size:15px;
letter-spacing:1px;
}
body {
margin: 0;
font-family: 'Yu Gothic','MSP ゴシック';
font-size:15px;
color:;
line-height:25px;
letter-spacing:1px;
}

a:link {color:#000000; text-decoration: none;} 
a:visited {color:#000000; text-decoration: none;}
a:hover {color:#000000; text-decoration: underline;} 
a:active {color:#000000; text-decoration: none;} 

table {
 width: 100%;
}

td, th {
padding-top: 5px;
padding-bottom: 5px;
border-bottom: dotted 1px #777777;
border-collapse: separate;
}

.about_left
 {
padding-left: 0px;
font-weight:bold;
width: 25%;
position: relative;

}

.about_right
{
  width: 75%;
  position: relative;
}

